<!DOCTYPE html>
<html>
<head>
    <title>All Posts</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {{> header}}
    <h1 style="text-align:center" >Posts</h1>
    <div style="text-align:center; margin-top: 15px" >
<button class="create-button"><a class="add-post-btn" href="/create">Add Post</a> </button>
    </div>
    <div class='column side'>
        <h2>Side</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Temporibus sapiente ipsam, hic repellat esse in officia a est delectus,
            libero rerum laudantium atque, expedita perspiciatis ullam quo earum consectetur pariatur?
        </p><br><br><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Temporibus sapiente ipsam, hic repellat esse in officia a est delectus,
            libero rerum laudantium atque, expedita perspiciatis ullam quo earum consectetur pariatur?
        </p><br><br><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Temporibus sapiente ipsam, hic repellat esse in officia a est delectus,
            libero rerum laudantium atque, expedita perspiciatis ullam quo earum consectetur pariatur?
        </p>
      </div>
    <div class="column middle">    
        {{#each posts}}
            <div class="row">
                <div class="column-main">
                        <img style="height: 200px; " width="100%" src="{{this.image}}" alt="image">
                        <h1>{{this.title}}</h1><br>
                        <p>{{this.description}}</p><br>                                                       
                    <div class="btn-group" style="width:100%">
                        <button class="read-btn" style="width:33.3%"><a class="read-more" href="/post/{{this.slug}}">Read</a></button>
                        <button class="edit-btn" style="width:33.3%"><a class="edit-link" href="/edit/{{this.id}}">Edit</a></button>                                    
                    <form action="delete/{{this.id}}" method="POST">
                        <button class="delete-btn" style="width:33.3%" type="submit">Delete</button>
                    </form> 
                    </div>                    
                </div>
                  
            </div>
        {{/each}}
    </div>
    <div class='column side'>
        <h2>Side</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Temporibus sapiente ipsam, hic repellat esse in officia a est delectus,
            libero rerum laudantium atque, expedita perspiciatis ullam quo earum consectetur pariatur?
        </p><br><br><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Temporibus sapiente ipsam, hic repellat esse in officia a est delectus,
            libero rerum laudantium atque, expedita perspiciatis ullam quo earum consectetur pariatur?
        </p><br><br><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Temporibus sapiente ipsam, hic repellat esse in officia a est delectus,
            libero rerum laudantium atque, expedita perspiciatis ullam quo earum consectetur pariatur?
        </p>
      </div>   
    {{> footer}}
</body>
<html>
